Source: tg-sendmail
Maintainer: Oleg Smedyuk <oleg.smedyuk@gmail.com>
Section: python
Priority: optional
Build-Depends: debhelper-compat (= 10), python3 (>=3.2), dh-exec (>= 0.23)
Standards-Version: 4.5.1
Homepage: https://github.com/conformist-mw/sendmail

Package: tg-sendmail
Architecture: all
Conflicts: mail-transport-agent
Replaces: mail-transport-agent
Provides: mail-transport-agent
Section: mail
Priority: optional
Depends: python3 (>=3.2), ${shlibs:Depends}, ${misc:Depends}
Description: drop-in /usr/sbin/sendmail replacement to send mails to Telegram
	To send messages from cron, for example, the operating system
	 requires MTA to be installed. This package provides a sendmail
	 utility that can be used by any system application to send
	 emails to the chat telegram bot.
Homepage: https://github.com/conformist-mw/sendmail
